$main-background:hsl(216, 50%, 16%);
$text-color: hsl(178, 100%, 50%);
$text2-color: hsl(0, 0%, 100%);
$text3-color: hsl(215, 51%, 70%);
$line: hsl(215, 32%, 27%);

main.container {
    height: 705px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 100px;

    div.card {
        width: 23%;

        background-color: $main-background;

        padding: 30px;

        header {
            div.imageMain img{
                max-width: 100%;
                width: auto;

                border-radius: 25px;
                padding-bottom: 15px;

                cursor: pointer;
            }

            div.view {
                background-color: $text-color;

                width: 19%;
                height: 39%;

                position: absolute;
                bottom: 48%;

                border-radius: 25px;
                opacity: 0;

                cursor: pointer;

                img {
                    display: flex;
                    margin-top: 40%;
                    margin-left: 40%;
                }

                &:hover {
                    opacity: 0.4;
                }
                
            }

            h1 a.title {
                color: $text2-color;

                text-decoration: none;
                @include styleFont(1.5rem, 400);

                padding-top: 5px;

                &:hover {
                    filter: brightness(0.8);
                    transition: filter 0.2s;

                    color: $text-color
                }
            }
        }

        p.text {
            @include styleFont(1rem, 300);

            color: $text3-color;

            padding-top: 8%;
        }

        div.container2 {
            @include FlexBox;

            padding-top: 1.5em;
            padding-bottom: 1.5em;

            div.div1 {
                @include styleFont(1rem, 600);
                @include FlexBox;

                color: $text-color;
                padding-right: 4em;
            }

            div.div2 {
                @include styleFont(1rem, 300);
                @include FlexBox;
                
                color: $text3-color;
            }
        }

        div.separator {
            height: auto;
            border: 1px solid $line;
        }

        div.creator {
            @include FlexBox;

            padding-top: 1em;

            img {
                max-width: 15%;
                width: auto;

                border: 1px solid $text2-color;
                border-radius: 70px;
            }

            p {
                @include styleFont(1rem, 400);

                color: $text3-color;
                padding: 10px;

                a {
                    color: $text2-color;

                    text-decoration: none;

                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }
}

footer.attribution { 
    font-size: 12px; 
    text-align: center; 
}

footer.attribution a { color: $text-color; }